Loading data into pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pokemon_data.csv")

In [3]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Reading data in pandas

In [23]:
# Read Headers
df.columns

# Read each column
# print(df['Name'][0:5])

# Read each Row
# print(df.iloc[1:2])

# for index,row in df.iterrows():
#     print(index,row["Name"])

# df.loc[df['Type 1'] == 'Fire']

# Read a specific location(R,C)
# print(df.iloc[2,2])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Sorting or describing Data

In [26]:
df.sort_values('Name',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

Making changes into data

In [44]:
# df['Total'] = df['HP'] + df['Attack'] + df["Defense"] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df.drop(columns=['Total'])

df['Total'] = df.iloc[:,4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,799.0,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,1015.0,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,1315.0,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,1595.0,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,False,747.0,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,6,True,1551.0,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,6,True,1771.0,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,6,True,1531.0,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,6,True,1751.0,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,6,True,1571.0,80,110,120,130,90,70

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

Saving our data (in desired format)

In [45]:
# df.to_csv('modified_pokemon.csv')

# df.to_excel('modified.xlsx',index=False)

# df.to_csv('modified.txt',index=False,sep="\t")

Fitering Data

In [66]:
# new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

# new_df = new_df.reset_index()

# df.loc[df['Name'].str.contains('Mega')]

# modi_df = df.loc[~df['Name'].str.contains('Mega')]
import re

# df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I,regex=True)]

# df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
20,16,Pidgey,Normal,Flying,1,False,606.0,40,45,40,35,35,56
21,17,Pidgeotto,Normal,Flying,1,False,855.0,63,60,55,50,50,71
22,18,Pidgeot,Normal,Flying,1,False,1165.0,83,80,75,70,70,101
23,18,PidgeotMega Pidgeot,Normal,Flying,1,False,1415.0,83,80,80,135,80,121
30,25,Pikachu,Electric,NaN,1,False,730.0,35,55,40,50,50,90
136,127,Pinsir,Bug,NaN,1,False,1260.0,65,125,100,55,70,85
137,127,PinsirMega Pinsir,Bug,Flying,1,False,1500.0,65,155,120,65,90,105
186,172,Pichu,Electric,NaN,2,False,460.0,20,40,15,35,35,60
219,204,Pineco,Bug,NaN,2,False,805.0,50,65,90,35,35,15
239,221,Piloswine,Ice,Ground,2,False,1190.0,100,100,80,60,60,50
438,393,Piplup,Water,NaN,4,False,806.0,53,51,53,61,56,40
558,499,Pignite,Fire,Fighting,5,False,1089.0,90,93,55,70,55,55
578,519,Pidove,Normal,Flying,5,False,676.0,50,55,50,36,30,43

Conditional changes

In [71]:

# df.loc[df['Type 1'] == 'Flamer','Type 1'] = 'Fire'

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,799.0,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,1015.0,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,1315.0,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,1595.0,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,False,747.0,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,6,True,1551.0,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,6,True,1771.0,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,6,True,1531.0,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,6,True,1751.0,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,6,True,1571.0,80,110,120,130,90,70

Aggregate Statistics(Group By)

In [78]:
# df.groupby(['Type 1']).mean().sort_values('Attack',ascending=False)
df['count'] = 1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

working with large amount of data